@import url("./normalize.css");
@import url("./skeleton.css");
@import url("./sample.css");

 /* header
  ---------------------------------------------------------- */
  header .pc_navi{
    display:none;
    
  }
  

  /* footer
  --------------------------------------------------------- */
  footer .foot_navi li{
    margin-bottom:1px;
  }
  
  footer .foot_navi li a{
    color: #42b9d0;
    background-color: #eaf2f4;
    display:block;
    text-align:center;
    font-weight:bold;
    text-decoration:none;
    font-size:16px;
    font-size:1.6rem;
    padding:16px 0;
  }
  
  