@import url("./normalize.css");
@import url("./skeleton.css");
@import url("./sample.css");



/* header
  ---------------------------------------------------------- */
  header .pc_navi{
    display:none;
    
  }
  
  /* sub_cover
  ---------------------------------------------------------*/
  #sub_cover{
      padding: 40px 0;
  }
  #sub_cover h2{
      font-size: 16px;
      font-size: 1.6em;
      
  }
  
  /* contents
  --------------------------------------------------------- */
  #contents{
      padding-top: 20px;
      background-color: white;
      
  }
  
  #contents #main h2{
      color: #42b9d0;
      border-bottom: 3px solid #42b9d0;
      font-size:15px;
      font-size: 1.5rem;
      font-weight: bold;
      padding-bottom: 15px;
  }
  
  #contents #main .news_li{
      font-size: 15px;
      font-size:1.5px;
  }
  
  /* side_bar
  ---------------------------------------------------------- */
  #sidebar .pc_sidemenu{
      display: none;
  }
  
  #contents #sidebar{
      padding-bottom: 20px;
  }
  
  /* footer
  --------------------------------------------------------- */
  footer .foot_navi li{
    margin-bottom:1px;
  }
  
  footer .foot_navi li a{
    color: #42b9d0;
    background-color: #eaf2f4;
    display:block;
    text-align:center;
    font-weight:bold;
    text-decoration:none;
    font-size:16px;
    font-size:1.6rem;
    padding:16px 0;
  }
  
   @media screen and (-webkit-min-device-pixcel-ratio:2),(min-resolution:2dppx){ 
   #cover_area{ background-image: url("../images/top/cover@2x.jpg") } 
   
 }
   
   @media screen and (-webkit-min-device-pixcel-ratio:2),(min-resolution:2dppx){ 
     #sub_cover{ 
       background-image:url("../images/news/sub_cover@2x.jpg"); } 
     
   }
 
 @media screen and (-webkit-min-device-pixcel-ratio:2),(min-resolution:2dppx){
   #contents #sidebar .pc_sidemenu li{
     background-image:url("../images/news/side_arrow@2x.png");
   }
 }
  